html,body{
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
header {
	width: 100%;
	background-color: #fff;
	border-bottom: solid 1px #e6e6e6;
	margin: 0;
}

header .el-menu-header {
	width: 1200px;
	margin: 0 auto;
	border-bottom: none !important
}

header .leave-msg {
	float: right !important;
}

header .is-active {}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin: 0 auto;
}

.main-container{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}